@model AppliTrAc.Models.Survey

    @if (User.Identity.IsAuthenticated)
    {
    }

@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Welcome to TrAccurate</h1>
</div>

@section scripts {
    @Scripts.Render("~/bundles/app")
    }
                      