@model IEnumerable<AppliTrAc.ViewModels.ReportViewModel>

    @{
    ViewBag.Title = "Seat Details";
    }

<h2 class="well well-small">Seats</h2>
    <dl class="dl-horizontal">
        <dd>
            <table class="table">
                <tr>
                    <th>Student ID</th>
                    <th>Seat Position</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                }
            </table>
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

